{
  "presets": [
    // "es2015",
    "@babel/react",
    "@babel/env"
  ],
  "plugins": [
    // 	"import", {
    // 	"libraryName": "antd",
    // 	"style": true
    //   }
    //   ],
    //   "transform-runtime",
    //   "transform-decorators-legacy"
  ],
  "env": {
    "production": {},
    "development": {
      "plugins": []
    }
  },
  "comments": false
}